{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
